---
- name: Install Rook Ceph operator
  ansible.builtin.shell: |
    helm upgrade --install rook-ceph {{ rook_ceph_operator_chart_name }} \
      --create-namespace \
      --repo {{ rook_ceph_chart_repo }} \
      --version $(yq -r .spec.chart.spec.version < {{ inventory_dir }}/{{ rook_ceph_operator_helmrelease_path }}) \
      --namespace {{ rook_ceph_namespace }} \
      {% for values_file in rook_ceph_operator_values_files %}
      --values={{ inventory_dir }}/{{ values_file }} \
      {% endfor %}

  delegate_to: localhost
  environment:
    KUBECONFIG: "{{ artifacts_dir }}/kubeconfig.yaml"

- name: Install Rook Ceph cluster
  ansible.builtin.shell: |
    helm upgrade --install rook-ceph-cluster {{ rook_ceph_cluster_chart_name }} \
      --create-namespace \
      --repo {{ rook_ceph_chart_repo }} \
      --version $(yq -r .spec.chart.spec.version < {{ inventory_dir }}/{{ rook_ceph_cluster_helmrelease_path }}) \
      --namespace {{ rook_ceph_namespace }} \
      {% for values_file in rook_ceph_cluster_values_files %}
      --values={{ inventory_dir }}/{{ values_file }} \
      {% endfor %}

  delegate_to: localhost
  environment:
    KUBECONFIG: "{{ artifacts_dir }}/kubeconfig.yaml"
