---
- name: Install cilium
  ansible.builtin.shell: |
    helm upgrade --install cilium {{ cilium_chart_name }} \
      --create-namespace \
      --repo {{ cilium_chart_repo }} \
      --version $(yq -r .spec.chart.spec.version < {{ inventory_dir }}/{{ cilium_helmrelease_path }}) \
      --namespace {{ cilium_namespace }} \
      {% for values_file in cilium_values_files %}
      --values={{ inventory_dir }}/{{ values_file }} \
      {% endfor %}
      --set k8sServiceHost={{ ansible_host }}
  delegate_to: localhost
  environment:
    KUBECONFIG: "{{ artifacts_dir }}/kubeconfig.yaml"
