---
- name: Wait for k8s apiserver
  ansible.builtin.wait_for:
    host: localhost
    port: "{{ k0s_apiserver_port }}"
    timeout: "{{ k0s_apiserver_wait_timeout }}"

- name: Wait for k0s status socket
  ansible.builtin.wait_for:
    path: /run/k0s/status.sock
    timeout: "{{ k0s_apiserver_wait_timeout }}"

- name: Create worker join token
  ansible.builtin.command: k0s token create --role worker --expiry {{ k0s_token_expiry }}
  register: worker_join_token
  changed_when: worker_join_token | length > 0

- name: Store worker join token
  ansible.builtin.set_fact:
    join_token_worker: "{{ worker_join_token.stdout }}"
    cacheable: yes

- name: Print worker token
  ansible.builtin.debug:
    msg: "k0s worker join token is: {{ worker_join_token.stdout }}"
    verbosity: 1

- name: Create controller join token
  ansible.builtin.command: >-
    k0s token create --role controller --expiry {{ k0s_token_expiry }}
  register: controller_join_token
  changed_when: controller_join_token | length > 0

- name: Store controller join token
  ansible.builtin.set_fact:
    join_token_controller: "{{ controller_join_token.stdout }}"
    cacheable: yes

- name: Print controller token
  ansible.builtin.debug:
    msg: "k0s controller join token is: {{ controller_join_token.stdout }}"
    verbosity: 1
