---
- name: Write worker join token
  ansible.builtin.template:
    src: k0stoken.j2
    dest: "{{ k0s_token_path }}"
    mode: "0600"

- name: Start the k0sworker service
  ansible.builtin.systemd:
    name: k0sworker
    no_block: false
    state: restarted

- name: Replace the join token
  ansible.builtin.template:
    src: k0stoken_joined.j2
    dest: "{{ k0s_token_path }}"
    mode: "0600"
